body{
  background-color: rgb(92, 122, 189);
  width:100vw;
  height:100vh;
}




.table-responsive{
  
  background-color: rgb(92, 122, 189);
  width:100vw;
  height:100vh;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(223, 44, 142);
    margin: 0;
}
p{
  text-align: center;
}
/* .table-responsive table, tr,td {
    border: 1px solid;
    width: 50px;
    height: 50px;
    background-color: azure;
    
  } */

  /* .table-responsive{ */
    /* display: flex;
    align-items: center;
    justify-content: center;
  } */

  #buttons table{
       display: flex;
       justify-content: center;
       align-items: center;
  }